<!-- Author: Thanh Tran
    Description: create a dating web page
    link: home.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="styles/reset.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <!-- Custom styles -->
    <link href="styles/style.css" rel="stylesheet">
    <title>Love Hunt</title>
    <link rel="icon" type="image/png" href="images/love.png">
</head>
<body>
<h1>Midterm</h1>

<!-- main div for all div inside it -->

<!-- scripts input -->
    <script src="scripts/jquery.slim.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
</body>
</html>